<div class="jumbotron mt-4" style="background: white; padding: 2rem 2rem;;" >
    <h3 class="display-4 text-center">
        Welcome to the Official Account of the <strong>HOGWARTS</strong> 
    </h3>
    <p class="text-center" style="font-size: 1.5rem;">Choose the section of your preference and browse.</p>
    <div class="row align-items-center" style="padding: 10px 3rem">
        <div class="col-3 col-xl">
          <button
            type="button"
            style="font-size: 14px"
            class="btn btn-block btn-danger"
            routerLink="/characters"
          >
            Characters
          </button>
        </div>
        <div class="col-3 col-xl">
          <button
            type="button"
            style="font-size: 14px"
            class="btn btn-block btn-danger"
            routerLink="/students"
          >
            Students
          </button>
        </div>
        <div class="col-3 col-xl">
          <button
            type="button"
            style="font-size: 14px"
            class="btn btn-block btn-danger"
            routerLink="/teachers"
          >
            Teachers
          </button>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <img src="../../../assets/images/descarga.jpg" alt="Wizard World">
    </div>

</div>